<div class="modal-content col-md-12">
    <div class="row modal-header">
        <a class="class pull-right" ng-click="fecharModal()"><span class="glyphicon glyphicon-remove"></span></a>
        <h3 class="modal-title">{{item.Nome}}</h3>
        <h6> Codigo: <span>{{item.Id}}</span></h6>
    </div>
    <div class="row modal-body">
        <div class="col-md-6 product_img">
            <img ng-src="{{item.ImageUrl}}" class="img-responsive">
            <div class="row col-md-12">
                <form class="form-horizontal">
                    <div class="form-group">
                            <label class="control-label" for="Url Imagem">Url da Imagem</label>
                            <input class="form-control" type="text" ng-model="item.ImageUrl" disabled>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 product_content">
            <h3 class="cost">R$ {{item.Valor}} </h3>
            <p>{{item.Descricao}}</p>
        </div>
    </div>
    <div class="row modal-footer">
        <div class="btn-ground pull-right">
            <button type="button" class="btn btn-danger" ng-click="modalRemoverProduto(item)">Excluir</button>
            <button type="button" class="btn btn-warning" ng-click="modalEditarProduto(item)"> Editar</button>
            <button type="button" class="btn btn-info" ng-click="fecharModal()">Voltar</button>
        </div>
    </div>
</div>