    <div class="modal-content">
        <div class="modal-header">
            <a class="class pull-right" ng-click="fecharModal()"><span class="glyphicon glyphicon-remove"></span></a>
            <h3 class="modal-title">{{item.Nome}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 product_img">
                    <img ng-src="{{item.ImageUrl}}" class="img-responsive">
                    <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Example block-level help text here.</p>
                          </div>
                </div>
                <div class="col-md-6 product_content">
                    <h4> Codigo: <span>{{item.Id}}</span></h4>

                    <p>{{item.Descricao}}</p>
                    <h3 class="cost"><span class="glyphicon glyphicon-usd"></span> {{item.Valor}} </h3>
                    <div class="row">

                    </div>
                    <div class="space-ten"></div>
                    <div class="btn-ground">
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button>
                        <button type="button" class="btn btn-primary" ng-click="modalEditarProduto(item)"> Editar</button>
                        <button type="button" class="btn btn-danger" ng-click="removerProduto(item)">Remover</button>
                    </div>

                </div>
            </div>
        </div>
    </div>