$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//css modal 
.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}

.img-thumbnail, .thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
  box-shadow: 1px 1px 5px 2px rgba(179, 179, 179, 0.42);
}

h4.nomeItem{
  color: rgb(80, 79, 79);
  font-weight: 400;
}

.product_view .modal-dialog {
  max-width: 800px;
  width: 100%;
}

.pre-cost {
  text-decoration: line-through;
  color: #a5a5a5;
}

.space-ten {
  padding: 10px 0;
}


.thumbnail a>img, .thumbnail>img {
    margin-right: auto;
    margin-left: auto;
    max-height: 214px;
}